/* any product css goes here */

/* product item css */
.product-card {
    height: 400px;
    width: auto;
    align-self: center;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin: 5px;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: transform 0.15s ease;
}

.product-card:hover {
    transform: translateY(-3px);
}

.product-card-image {
    width: 95%;
    align-self: center;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    background: rgba(15, 15, 15, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.product-card-name {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.product-card-price {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}


/* product details css */
.product-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 600px;
    gap: 0px;
    padding: 20px;
    height: 600px;
}

.product-left {
    display: flex;
    flex-direction: column;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
    height: 600px;
}

.product-left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    align-self: center;
}

.product-left .price {
    width: 120px;
    color: gray;
    text-align: right;
}

.product-left .product-header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.product-center {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(20, 20, 20, 1);
}

.product-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
   font-size: 30px;
   text-align: center;
}

.product-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: gray;
    /* margin-top: 10%; */
}

.product-actions {
    display: flex;
    gap: 15px;
    /* margin-top: 10%; */
}

.product-actions button {
    padding: 5px 5px;
}

.product-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
}

.similar-list {
    flex: 1;
    overflow-y: auto;
    padding-right: 8px;
}

.similar-list::-webkit-scrollbar {
    width: 8px;
}

.similar-list::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.similar-list::-webkit-scrollbar-track {
    background: #eee;
}