.mainDiv {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: -60px;
}

.settingsDiv {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.priceDiv {
    height: 15%;
    width: 300px;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productDiv {
    height: 400px;
    width: 300px;
    display: flex;
    margin-bottom: 16px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    margin-right: 16px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.productDiv:hover {
    scale: 1.01;
    transition: scale 0.2s ease-out;
}

.productImage {
    flex: 1;
    background: rgba(5, 5, 5, 1);
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    object-fit: contain;

}

.category-text {
    font-size: 25px;
    margin-left: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.product-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 88vh;
}

.product-list-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 5px;
}

.product-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}

.no-products {
    font-size: 1.8rem;
    text-align: center;
    color: #ccc;
    grid-column: 1/-1;
}
@media (max-width: 800px) {
    .product-list-grid {
        grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
        gap: 0.8rem;
    }

    .product-list-title {
        font-size: 1.5rem;
    }
}