.mainDiv {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: -60px;
}

.settingsDiv {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.productDiv {
    height: 400px;
    width: 300px;
    display: flex;
    margin-bottom: 16px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    margin-right: 16px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.productDiv:hover {
    scale: 1.01;
    transition: scale 0.2s ease-out;
}

.productImage {
    flex: 1;
    background: rgba(5, 5, 5, 1);
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    object-fit: contain;

}

.category-text {
    font-size: 25px;
    margin-left: 20px; 
    cursor: pointer;
}

.product-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 88vh;
}

.product-list-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 5px;
    color: #574030;
}

.product-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}

.no-products {
    font-size: 1.8rem;
    text-align: center;
    color: #ccc;
    grid-column: 1/-1;
}
@media (max-width: 800px) {
    .product-list-grid {
        grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
        gap: 0.8rem;
    }

    .product-list-title {
        font-size: 1.5rem;
    }
}


.categories-list {
    display: flex;
    /* width: 280px; */
    height: 70%;
    justify-content: left;
    background: #574030;
    flex-direction: column;
    color: wheat;
    /* border: 3px solid; */
    justify-content: center;
    border-bottom: 8px solid #3e2d22;
    margin: 8px;
    border-radius: 14px;
    overflow-y: "scroll";
}
.category-title {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.price-container {
    width: 300px;
    background: #574030;
    border-bottom: 8px solid #3e2d22;
    border-radius: 14px;
    margin: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.price-title {
    color: wheat;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.price-values {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 90%;
}

.admin-button {
    width: 300px;
    height: 65px;
    align-self: center;
    margin: 4px;
    color: wheat;
    font-size: 24px;
    font-style: bold;
    text-wrap: warp;
    padding: 4px;
    border: none;
    border-radius: 14px;
    border-bottom: 4px solid #3e2d22;
    background: #574030;
}

input[type="range"] {
    -webkit-appearance: none;
    background: #D9CFC7;
    width: 100%;
    border-radius: 14px;
    height: 10px;
    
}

input[type="range"]:hover {
    outline: none;
    background: #3e2d22;
    transition: ease 0.1s, ease 0.1s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #8CA9FF;
}

input[type="range"]::-ms-track {
    width: 100%;
    color: #8CA9FF;
}

