.profile-page {
    padding: 14px;
    
    /* content: "center"; */
}

.profile-information {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    background: #574030;
    border-radius: 14px;
    border-bottom: 5px solid #3e2d22;
    padding: 14px;

    /* text-align: right; */
    font-size: 1.25rem;
    
    width: 460px;
}

.title {
    font-size: 3rem;
    text-align: start;
    margin: 0%;
    margin-bottom: 16px;
    color: wheat;
}

.info {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0%;
    margin-bottom: 8px;
    font-size: 1.50rem;
    color: wheat;
}

.logout {
    margin-top: 12px;
    width: 120px;
    padding: 8px;
    font-size: 1.2rem;
    background-color: #AB886D;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

/* recent orders */

.order-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.order-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #574030;
    /* flex: 1; */
}

.order-card {
    background: #574030;
    border-radius: 14px;
    /* cursor: pointer; */
    overflow: hidden;
    border-bottom: 5px solid #3e2d22;
    margin: 4px;
    padding: 4px;

    width: 260px;
    height: 280px;

    display: flex;
    flex-direction: column;
}

.card-info {
    color: wheat;
    font-size: 1.2rem;
    margin: 0px;
    text-align: left;
    /* padding: 0%; */
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background: #AB886D;
    /* transition: filter 0.2s ease, background 0.2s ease; */
}

/* login */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

.login-title {
    color: #3e2d22;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 36px;
}

.login-input {
    flex: 1;
    background: #AB886D;
    color: wheat;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border-bottom: 5px solid #3e2d22;
    font-weight: bold;
    cursor: pointer;
}

.login-button {
    flex: 1;
    background: #AB886D;
    color: wheat;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border-bottom: 5px solid #3e2d22;
    font-weight: bold;
    cursor: pointer;
}

/* register */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

.register-title {
    color: #3e2d22;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 36px;
}

.register-input {
    flex: 1;
    background: #AB886D;
    color: wheat;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border-bottom: 5px solid #3e2d22;
    font-weight: bold;
    cursor: pointer;
}

.register-button {
    flex: 1;
    background: #AB886D;
    color: wheat;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border-bottom: 5px solid #3e2d22;
    font-weight: bold;
    cursor: pointer;
}