
body {
  margin: 0;
  padding-top: 60px;
  background: rgb(24, 24, 24);
  font-family:'Trebuchet MS';
}

.admin {
  padding: 5px 5px;
  border: 2px solid red;
  font-weight: bold;
  border-radius: 8px;
  letter-spacing: 2px;
}